<style>
/* Footer styling */
.page-footer {
  margin-top: auto;
  padding-bottom: 25px;
	background: #000;
  color: #fff;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
.footer-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 20px;
}
.footer-container .footer > div {
  width: 240px;
  margin-right: 20px;
  margin-left:0;
}


.page-footer h3 {
  font-size: 1.6em;
  margin: 5px 0 25px 0;
  color: #fff;
  font-weight: 500;
}
.page-footer ul {
  margin-bottom: 25px !important;
  padding: 0;
}
.page-footer li {
  list-style-type: none;
  list-style-position: outside;
  font-size: 1em;
  margin-bottom: 10px !important;
  font-weight: 400;	

}
.page-footer p {
  font-size: 1em;
  margin-bottom: 10px !important;
  line-height: 1.6;
  

}
.footer-container .footer {
  width: 100% !important;
  display: flex !important;
  float: none !important;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
}
.page-footer img {
  margin: 25px 0;
}
.page-footer .last img {
  float:right;
}


.ff_social i {
    margin-right: 8px;
    font-size: 1.3em;
	border:1px solid #fff;
	border-radius: 6px;
	padding: 8px;
	min-width: 21px;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: silver;
}

.footer.content{
	padding-bottom:25px;
	padding-top:25px
}
@media only screen and (max-width: 780px) {
  .footer-container .footer > div {
    width: 300px;
    margin-bottom: 20px;
  }
}



</style>

<div class="page-footer">
<div class="footer-container">
  <h1>Company Logo</h1>
    <div class="footer">
 		  <div>
	        <h3>Categories</h3>
	        <ul>
	        	<li><a href="#">Clothing</a></li>
	        	<li><a href="#">Jewelry</a></li>
				    <li><a href="#">Health & Beauty</a></li>
				    <li><a href="#">Hair Care</a></li>
            <li><a href="#">Kitchen Appliances</a></li>
				
	        </ul>
			
    	</div>
    	<div>
			<h3>Connect with us</h3>
			<ul>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Newsletter</a></li>
				<li><a href="">Careers</a></li>
				<li><a href="#" target="_blank">Feedback Survey</a></li>
			</ul>
			
			 <div class="ff_social">
            <a style="color: inherit;" href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
			<a style="color: inherit;" href="" target="_blank"><i class="fab fa-youtube"></i></a>
            <a style="color: inherit;" href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a style="color: inherit;" href="" target="_blank"><i class="fab fa-instagram"></i></a>
        	</div>

				
		</div>
		<div>
			<h3>Quick Links</h3>
			<ul>
				<li><a href="#"> Catalogue</a></li>
				<li><a href="#">Brands</a></li>
				<li><a href="#">Advanced Search</a></li>
        <li><a href="#">Customer Survey</a></li>
				<li><a href="#">Trading Terms and Conditions</a></li>
				<li><a href="#">Website Terms and conditions</a></li>
				<li><a href="#">Disclaimer</a></li>
			</ul>		
	       
    	</div>
		<div class="last">
			 <h3>Customer Support</h3>
      <p>Available between 8AM to 8PM. Ready to answer your questions.</p>
      <ul>
	        	<li><a href="#">Ph: 01234566</a></li>
	        	<li><a href="#">Email: support@testmail.com</a></li>
		</div>
		
		
    </div>
</div>
</div>