<h1> Hi I am coming from Raashi Component </h1>
<blockquote data-sly-test="${properties.jcr:title}">
    ${properties.jcr:title}
</blockquote>

<sly data-sly-use.yl="com.adobe.aem.demo.core.models.Author">
<div>Video : ${yl.Video}</div>
<div>Number : ${yl.VideoNumber}</div>

<a href="https://www.youtube.com/embed/UBTL_YeO4fk"> </a>

<iframe width="815" height="458" src="https://www.youtube.com/embed/UBTL_YeO4fk" title="🚨INDIA IN BIG TROUBLE |  How China Helped Pakistan Against the Indian Military | VR Raja" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</sly>